<h1>Add a new service</h1>
<p class="lead">These services will be available for your customers to book online</p>

<div class="wizard">
    <a class="current"><span class="badge">1</span>Add new service</a>
    <a><span class="badge">2</span>Add appointment times</a>
    <a><span class="badge">3</span>Submit</a>
</div>

<%= render 'form' %>

<hr>
<%= link_to 'Back', services_path, :class => "btn btn-default" %>
