<div class="row">
	<div class="col-md-10">
		<h1>Bobs Hairdressers</h1>
		<p class="lead">Available services</p>
	</div>
</div>

<div class="row">
	<div class="col-md-8">
			<div class="list-group">
			  <a href="#" class="list-group-item ">
			  	<p class="list-group-item-text select pull-right">Select</p>
			    <h4 class="list-group-item-heading">List group item heading</h4>
			    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
			    <p class="list-group-item-text">
			    		<span class="price">$100.00</span>
			    		<span class="duration">90 minutes</span>
			    </p>
			  </a>
			  <a href="#" class="list-group-item">
			  	<p class="list-group-item-text select pull-right">Select</p>
			    <h4 class="list-group-item-heading">List group item heading</h4>
			    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
			    <p class="list-group-item-text">
			    		<span class="price">$100.00</span>
			    		<span class="duration">90 minutes</span>
			    </p>
			  </a>
			  <a href="#" class="list-group-item">
			  	<p class="list-group-item-text select pull-right">Select</p>
			    <h4 class="list-group-item-heading">List group item heading</h4>
			    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
			    <p class="list-group-item-text">
			    		<span class="price">$100.00</span>
			    		<span class="duration">90 minutes</span>
			    </p>
			  </a>
			</div>
	</div>

	<div class="col-md-4">
		<img src="http://placehold.it/300x200" class="img-responsive">
		<h4>About Bobs Hairdressers</h4>
		<p>Welcome to float Zurich Here you can book your appointment online for float. The booked room is available then solely at your disposition. Our opening times are: daily from 9:30 - 22:30 except Wednesday from 14:00 clock - 22:00 clock float SAVINGS RATES apply from 1 - To 28 Feb. 2014 on the following dates: (In the booking confirmation, all prices and savings rates are listed again) CAPSULE: CHF 85 - (instead of CHF 120 -) Monday to Friday all day TANK for 1 person: CHF 105 - (instead of CHF 140 -) each Monday and Tuesday all day POOL for 2 persons: CH</p>

		<h4>More information</h4>
		<p>Website url</p>
		<p>Facebook | Twitter | Instagram</p>
	</div>


</div><!-- row-->