<h1>Simple Appointment Scheduling</h1>
<p class="lead">Let your customers view, book and pay for appointments. All integrated seamlessly with your accounting.</p>

<div class="row">
	<div class="col-md-12">
		<h4>Connect to your accounting platform to get started:</h4>
	</div>
	<div class="col-md-2">
	<%= link_to "Xero", "#", :class => "btn btn-info btn-lg btn-block" %>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h3>How it works</h3>
	</div>
	<div class="col-md-4">
		<h4>Connect your accounting platform</h4>
		<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
	</div>

	<div class="col-md-4">
		<h4>Create your scheduling page</h4>
		<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
	</div>

	<div class="col-md-4">
		<h4>You're ready for scheduling!</h4>
		<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
	</div>
</div>